In [1]:
#imports here
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.firefox.options import Options
import time
import os
from fake_useragent import UserAgent
from random import randint
import pandas as pd
import re
from datetime import datetime
from datetime import timedelta

In [6]:
df = pd.DataFrame({'sku': [1],
                   'is_in_stock': [1],
                    'name': [1],
                   'price': [1], 
                   "special_price":[1],
                   'short_description': [1],
#                    'Model': list_input_model, 
                   'free_colors': [1], 
                   'Width': [1],
                   'Height': [1],
                   'Length': [1],
                   'collection': [1],
                   'Images1': [1],
                   'url_key': [1],
                   'visibility':[1],
                       'tax_class_name':[1],
                       'manufacturer': [1],
#                     'raw_materials': list_input_mater,
                   'news_from_date': [1],
                   'news_to_date': [1],
                   'Images2': [1],
                   'link_url': [1],
                   'categories1': [1],
                   'categories2': [1],
                   'categories3': [1],
#                    'Images3': list_input_images3,
#                    'Images4': list_input_images4,

                  })
df.to_excel('accssoires.xlsx')

In [2]:
toto = ['tata', 'titi', 'tutu']

In [3]:
titi = {
    'liste': toto,
}

In [5]:
data_list_link = pd.DataFrame(titi)

In [6]:
data_list_link

  liste
0  tata
1  titi
2  tutu

In [8]:
data_list_link.to_excel('data_list_link.xlsx')

In [2]:
options = Options()
ua = UserAgent()
userAgent = ua.random
print(userAgent)
options.add_argument(f'user-agent={userAgent}')
#options.add_argument("--headless")
driver = webdriver.Firefox(firefox_options=options)
#     driver = webdriver.Firefox()

Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1500.55 Safari/537.36

<ipython-input-2-5315509cced7>:7: DeprecationWarning: use options instead of firefox_options
  driver = webdriver.Firefox(firefox_options=options)

In [3]:
links_products = []
def return_details(value, list_dic):
        val = ''
        for i in list_dic:
            if value in i:
                val = i.replace(value, '')
        return val
for i in range(1, 419):
    driver.get(f'https://www.alrugaibfurniture.com/ar/collections/all?page={i}')
    
    products = driver.find_elements_by_class_name('product-item__image-wrapper')
    
    
    #Forloop to get all url products
    for product in products:

        links_products.append(product.get_attribute('href'))
        time.sleep(1)
    time.sleep(1)
print(len(links_products))
now = datetime.now()
dt_string = now.strftime("%d-%m-%Y-%H-%M-%S")
#Save link in excel files
link_living_rooms = {
    'liste': links_products,
}

liste_link_living_rooms = pd.DataFrame(link_living_rooms)
liste_link_living_rooms.to_excel(f'link_all_products-{dt_string}.xlsx')

9981